{% load static %}
<link rel="stylesheet" href="{% static 'polls/style2.css' %}">

<video class="background-video" autoplay loop muted>
    <source src="{% static 'polls/images/background2.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <div class="centered-text">
        <h1>Well hello</h1>
        <p><a href="/polls/">Polls</a></p>
        <p><a href="/admin/">Admin</a></p>
    </div>
</body>
</html>
